{
    "homeserver": "https://phuks.co",
    "channel": "!HQKJuYqkDkJNrwdYMc:phuks.co",
    "username": "dongerdong",
    "password": "dc37008278e1bde46a6c6b7625059972", 
    "extendedcommands": ["jaden","excuse","dong"],
    "admins": ["@polsaker:phuks.co"]
    "topmodifier": 0.05,
    "stats-url": "http://www.donger.org/stats/",
    "show-ascii-art-text": true
}
